.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


footer{
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0px;
  border: 5px solid 
}

#left-side {
  float:left;
  border: 25px solid green;
  padding: 100px;
  margin: 25px;

}


#right-side {
  float:right;
  border: 25px solid green;
  padding: 100px;
  margin: 25px;

}



.titlesforpage {
color:red;
font-family: 'Righteous', cursive;
font-size: 22px;
}

#root {
  background-image: url("https://raw.githubusercontent.com/TyPhyter/BeerHunter/master/assets/images/wood-bg.jpg")
}

.p {
  color: white;
}

