body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }


/*  */


textarea, input, select,button {

    text-align: unset;
    background-color: gray;
}



.centerBox {
    border: 1px solid black; 
    margin: 10px;
    height: 50vh;
    background: #5e5757;
    /* vertical Height. */
}


.pictureBox {
    border: 1px solid black; 
    margin: 10px;
    background: #5e5757;
}



.imagePreview {

    Width: 100%;


    /* 100% goes the full way.  */
}


.texttexttext {
    background: #5e5757;
    Width:100%;
    height: 50vh;

}