body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }


/*  */


input,textarea,select,button {

    text-align: unset;
    background-color: green;
}



.centerBox {
    border: 1px solid black; 
    margin: 10px;
}
